body {
  padding: 30px 0 50px 0;
  font-size: 14px;
  font-family: 'PT Serif', serif;
}

a {
  color: #00B7FF;
}

h1, h2, h3, h4, h5 {
  font-family: 'Russo One', sans-serif;
}

h1 {
  text-transform: uppercase;
}

ul {
  padding-inline-start: 0;
}

li {
  list-style: none;
}

.container {
  padding: 0 30px;
  max-width: 500px;
  margin: 0 auto;
}

.headline {
  text-align: center;
}

.pins {
  padding-bottom: 80px;
}

.pin{ 
  display: none; 
  border-bottom: 1px solid grey;
  padding: 10px 0 30px;
}

.pin.active {
  display: block; 
}

.controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  border-top: 1px solid black;
  padding: 15px 40px;
}

.controls button {
  margin: 5px;
}